.about {
    margin-top: 60px;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.desc-block {
    display: flex;
    justify-content: space-between;
}

.page-desc {
    color: var(--blackColor);
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.2px;
    width: 68%;
}

.page-imgs {
    width: 23%;
}

.advantages {
    background: #2749A3;
    margin-top: 100px;
}

.advantages .container {
    padding-top: 25px;
    padding-bottom: 25px;
}

.advantage-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.advantage {
    display: flex;
    align-items: center;
    gap: 20px;
}

.advantage-text {
    color: var(--whiteColor);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.advantages .advantage {
    display: flex;
    height: auto;
}

.advantage-icon svg {
    height: 100%;
    display: block;
}

.desc-block-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.swiper .swiper-pagination-bullet {
    border-radius: 0;
    border: 1px solid var(--orangeColor);
    background: transparent;
    width: 10px;
    height: 10px;
}

.about .swiper-slide {
    height: auto;
}

@media (max-width: 1024px) {
    .page-imgs {
        width: 38%;
    }

    .page-desc {
        width: 60%;
        margin-right: 2%;
    }

    .desc-block-container .page-desc {
        margin-right: 0;
        margin-left: 2%;
    }

    .advantage-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    .advantages .advantage {
        width: calc(50% - 25px);
        justify-content: center;
    }

    .advantage-text {
        width: min-content;
    }

    .advantages .advantage:last-child {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .about {
        margin-top: 25px;
    }

    h1 {
        margin: 25px 0;
    }

    .desc-block {
        flex-direction: column;
    }

    .page-desc, .page-imgs {
        width: 100%;
    }

    .page-imgs {
        margin-top: 25px;
    }

    .advantages {
        margin-top: 25px;
    }

    .advantage-wrapper {
        gap: 40px;
    }

    .advantages .advantage {
        width: 100%;
        justify-content: flex-start;
    }

    .advantages .container {
        padding: 35px 10px 35px 30px;
    }

    .desc-block-container {
        margin: 25px 0;
    }

    .desc-block-container .desc-block {
        flex-direction: column-reverse;
        margin-bottom: 25px;
    }

    .advantage-text {
        width: fit-content;
    }
}

@media (max-width: 376px) {
    .page-desc {
        font-size: 1.5rem;
    }
}
