/*
CATALOG
*/

.catalog-detail {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.catalog-info-wrapper {
    display: flex;
    justify-content: space-between;
}

.img-wrapper {
    width: 40%;
    height: fit-content;
}

.detail-info {
    width: 52%;
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: var(--blackColor);
    font-size: 3rem;
    font-weight: 500;
}

.detail-tag {
    color: var(--whiteColor);
    font-size: 1.5rem;
    font-weight: 300;
    width: fit-content;
    padding: 4px 7px;
    height: auto;
}

.detail-price {
    color: var(--blackColor);
    font-size: 3rem;
    font-weight: 700;
    margin-top: 10px;
}

.detail-desc {
    color: var(--blackColor);
    font-size: 2rem;
    font-weight: 300;
    margin-top: 30px;
}

.detail-add-to-cart {
    margin-top: 30px;
    padding: 17px;
}

.other-items {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.other-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

.other-items .other-item:last-child {
    margin-bottom: 0;
}

.other-title {
    color: var(--whiteColor);
    font-size: 2rem;
    padding: 30px;
    background: #2749A2;
    width: 100%;
}

.other-desc {
    max-height: 0;
    transition: ease-in-out 0.25s;
    overflow: hidden;
    color: var(--blackColor);
    font-size: 2rem;
    font-weight: 300;
    background: var(--whiteColor);
    border-top: none;
    padding-left: 50px;
    padding-right: 20px;
}

.other-item.active .other-desc {
    border: 0.2px solid var(--blackColor);
    max-height: 1000px;
    padding-top: 35px;
    padding-bottom: 10px;
}

.other-show-text {
    margin-right: 35px;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-decoration-line: underline;
    text-align: right;
    margin-top: 40px;
}

.other-show-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 45px;
    width: 45px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-show-btn svg {
    transform: rotate(180deg);
    transition: ease-in-out 0.25s;
}

.other-item.active .other-show-btn svg {
    transform: rotate(0deg);
}

.max-swiper {
    border: 1px solid var(--blackColor);
}

.min-swiper .swiper-slide {
    border: 1px solid var(--blackColor);
}

.max-swiper .swiper-slide img {
    height: 295px;
}

.min-swiper {
    margin-top: 10px;
}

.max-swiper .swiper-pagination-bullet {
    border-radius: 0;
    border: 1px solid var(--orangeColor);
    background: transparent;
    width: 10px;
    height: 10px;
}

.other-show-btn:hover {
    box-shadow: unset;
}
