/*
HEADER
*/

header {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo-text {
    display: flex;
    flex-direction: column;
    color: var(--whiteColor);
}

.logo-text-main {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
}

.logo-text-sub {
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 0.1px;
    margin-top: 5px;
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}

.phone a {
    font-size: 3rem;
    font-weight: 700;
    color: var(--whiteColor);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 4rem;
}

.menu a {
    color: var(--whiteColor);
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.2px;
}

.cart {
    position: relative;
}

.cart .counter {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #FF5C00;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
    color: var(--whiteColor);
}

/*
HEADER END
*/

/*
MAIN
*/

.banner {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
}

.banner-img,
.banner-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
}

.banner-shadow {
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.40) 78.61%, rgba(0, 0, 0, 0.00) 103.5%);
}

.banner-block {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 9rem;
}

.banner-block-text {
    color: var(--whiteColor);
    font-size: 5rem;
    letter-spacing: 0.6px;
    font-weight: 300;
    text-shadow: 0 4px 13px #000;
}

.banner-block-btn {
    margin-top: 10rem;
    max-width: 46rem;
}

/*
MAIN END
*/
