.partnership {
    margin-top: 60px;
}

.partnership h1 {
    color: var(--blackColor);
    font-size: 3rem;
    font-weight: 700;
    margin-top: 50px;
}

.page-desc {
    color: var(--blackColor);
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.2px;
    margin-top: 50px;
}

.partners {
    margin-top: 100px;
}

.partner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.partners .partner:last-child {
    margin-bottom: 0;
}

.partner-img {
    width: 20%;
}

.partner-text-wrap {
    display: flex;
    flex-direction: column;
    color: var(--blackColor);
    width: calc(80% - 55px);
}

.partner-title {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.25px;
}

.partner-desc {
    margin-top: 25px;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.2px;
}

.form {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.form-img {
    width: 45%;
}

.error {
    color: #F00;
    display: none;
}

.error.show {
    display: block;
}

@media (max-width: 1024px) {
    .partnership h1, .page-desc, .partners, .form {
        margin-top: 25px;
    }

    .partner {
        flex-direction: column;
    }

    .partner-text-wrap, .partner-img, .form-wrapper {
        width: 100%;
    }

    .partner-text-wrap, .partner-desc {
        margin-top: 15px;
    }

    .partnership form {
        margin-top: 30px;
    }

    .form {
        margin-bottom: 25px;
    }

    .partnership {
        margin-top: 25px;
    }
}

@media (max-width: 376px) {
    .page-desc {
        font-size: 1.5rem;
    }
}
