.form-title {
    color: var(--blackColor);
    font-size: 3rem;
    font-weight: 700;
}

section form {
    margin-top: 80px;
}

.form-input {
    background: transparent;
    color: var(--blackColor);
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid var(--blackColor);
    outline: none;
    width: 100%;
}

.form-input#email {
    margin-top: 65px;
}

.form-textarea {
    background: #D9D9D9;
    width: 100%;
    height: 8rem;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 300;
    outline: none;
    border: none;
    padding: 13px 9px;
    resize: none;
    margin-top: 65px;
}

.form-btn {
    width: 65%;
    margin-top: 80px;
    outline: none;
    border: none;
}

.personal-wrapper {
    margin-top: 40px;
    display: flex;
    gap: 15px;
    position: relative;
    color: var(--blackColor);
    font-size: 1.2rem;
    font-weight: 300;
}

.personal-wrapper label a {
    text-decoration-line: underline;
    color: inherit;
}

.personal-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.personal-input + label {
    display: flex;
    align-items: center;
}

.personal-text {
    margin-left: 15px;
}

input.personal-input + label::before {
    content: "";
    background-image: url('/images/checkbox.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    display: block;
}

input.personal-input:checked + label::before {
    background-image: url('/images/checkboxActive.svg');
}

@media (max-width: 1024px) {
    .form-btn {
        width: 100%;
        margin-top: 25px;
    }

    .form-input#email, .form-textarea {
        margin-top: 25px;
    }

    .form-title {
        font-size: 2rem;
    }

    .form-input, .form-textarea {
        font-size: 1.5rem;
    }
}
